@charset "utf-8";
/* CSS Document */

#header {
    /*border-bottom: thin solid #B8A6A6;*/
    padding: 8px;
    background-color: #4a4a4a;
    overflow: hidden;
    clear: both;
    height: 65px;
    -webkit-box-shadow: 0px 3px 1px #dadedf;
    -moz-box-shadow: 0px 3px 1px #bfccdf;
    box-shadow: 0px 3px 1px #bfccdf;
    /*margin-bottom: 5px;*/
    vertical-align: baseline;
    background: linear-gradient(rgba(176, 182, 255, 0.66), rgb(132, 209, 121)),
    rgba(156, 255, 156, 0.56) no-repeat center;
    left: 0;
    width:100%;
}
#header-text {
    text-align: center;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 2s linear;
}
@-webkit-keyframes rightThenLeft {
    0%   {margin-left:25%;}
    50%  {margin-right:25%;}
}
#section {
    width:350px;
    text-align: center;
    padding:100px;
    color: rebeccapurple;
    margin-right:10%;
    margin-left:10%;
    margin-top:0%;
}
#footer {
    background: rgb(167, 197, 106);
    width:100%;
    height:50px;
    position:absolute;
    text-align: center;
    padding: 3px;
    bottom:0;
    left:0;
}
.button {
    border: 1px solid #00a2ff;
    background: #223a3b;
    background: -webkit-gradient(linear, left top, left bottom, from(#1f5980), to(#223a3b));
    background: -webkit-linear-gradient(top, #1f5980, #223a3b);
    background: -moz-linear-gradient(top, #1f5980, #223a3b);
    background: -ms-linear-gradient(top, #1f5980, #223a3b);
    background: -o-linear-gradient(top, #1f5980, #223a3b);
    background-image: -ms-linear-gradient(top, #1f5980 0%, #223a3b 100%);
    padding: 6.5px 13px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #58646b 0 1px 0;
    color: #f5fbff;
    font-size: 13px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border: 1px solid #de1111;
    text-shadow: #1e4158 0 1px 0;
    background: #681c94;
    background: -webkit-gradient(linear, left top, left bottom, from(#309c34), to(#681c94));
    background: -webkit-linear-gradient(top, #309c34, #681c94);
    background: -moz-linear-gradient(top, #309c34, #681c94);
    background: -ms-linear-gradient(top, #309c34, #681c94);
    background: -o-linear-gradient(top, #309c34, #681c94);
    background-image: -ms-linear-gradient(top, #309c34 0%, #681c94 100%);
    color: #fff;
}
.button:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#681c94));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
}


/*******************************************************************************/
/*
Reference
http://livetools.uiparade.com/ribbon-builder.html
*/